//.container{
//  display: flex;
//  align-items: center;
//  height: 100%;
//}
//
//.GenericTemplate .ant-upload .ant-upload-select .ant-upload-select-picture-card {
//  width: 300px;
//  height: 252px;
//  font-family: sans-serif;
//  text-align: center;
//}
//
//.box {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}

.GenericTemplate {
  margin-bottom: 6px;
}

.ant-form-item {
  margin-bottom: 6px;
}

.ant-tabs-top  > .ant-tabs-nav {
  margin-bottom: 0px;
}

.GenericTemplate .ant-upload-list-picture-card-container {
  width: 270px;
  height: 142.93px;
}

.carousel {
  width: 270px;
  display: block;
}

.ant-carousel {
  .slick-next {
    &::before {
      content: '';
    }
  }
  .slick-prev { 
    &::before {
      content: '';
    }
  }
}

.ant-upload.ant-upload-drag {
  height: 150px;
}

.list-sort-demo-wrapper {
  position: relative;
  overflow: hidden;
}

.list-sort-demo {
  margin: 10px auto;
  position: relative;
}
.list-sort-demo > div{
  overflow: hidden;
}

.list-sort-demo-list {
  background: #F6F6F6;
  border-radius: 4px;
  // width: 100;
  margin: 0px 0px 10px 0px;
  padding: 10px;
  transition:  box-shadow .5s, transform .5s;
}

.list-sort-demo-list.list-drag-selected{
  box-shadow: 0 8px 20px #F6F6F6;
  transform: scale(1.0) !important;
}

.list-sort-demo-icon {
  width: 20%;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  vertical-align: top;
}
.list-sort-demo-text{
  width: 80%;
  display: inline-block;
}

.list-sort-demo-text h1 {
  font-size: 18px;
}

.list-sort-demo-text p{
  font-size: 12px;
}

@media screen and (max-width: 320px) {
  .list-sort-demo-text h1 {
    font-size: 14px;
    line-height: 28px;
  }
}

.ant-card-small > .ant-card-head > .ant-card-head-wrapper > .ant-card-extra{
  padding: 0px;
}

.ant-card-head {
  border: 0px;
}

.ant-btn-multiple {
  margin-bottom: -1px;
}


.ImageComponent {
  display: block;
  width: 100%;
}

.popover .arrow {
  display: none;
}
