@import '~antd/es/style/themes/default.less';

.avatarHolder {
  margin-bottom: 24px;
  text-align: center;

  & > img {
    width: 104px;
    height: 104px;
    margin-bottom: 20px;
  }

  .name {
    margin-bottom: 4px;
    color: @heading-color;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
  .idField {
    overflow: hidden;
    color: rgba(0, 0, 0, 0.45);
  }
}

.infoLogo {
  margin-right: 6px;
  color: #1890ff;
}

.tagsTitle,
.teamTitle {
  margin-bottom: 12px;
  color: @heading-color;
  font-weight: 500;
}

.tags {
  .ant-tag {
    margin-bottom: 8px;
  }
  
}